.interna_contato {
    background: url(../img/footer/bg-contato.jpg) no-repeat center;
    background-size: cover;
}


/*orcamento*/

.contato {
    padding: 40px 0;
}

.contato_form {
    padding-right: 60px;
}

.contato_form  label{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.contato_form  input {
    display: block;
    width: 100%;
    border: solid 4px #fec63e;
    background: none;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.contato_form  textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: solid 4px #fec63e;
    background: none;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.contato_form  button {
    background: none;
    padding: 7px 40px;
}

.contato_form button:hover{
    color: black;
    border-color: black;
}

.contato_dados {
    color: black;
}

.contato_dados h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fec63e;
    line-height: 25px;
    font-weight: bold;
}

.contato_dados span {
    display: block; 
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.contato_dados span:nth-of-type(even){
    margin-bottom: 20px;
}

.contato_dados ul {
    margin-top: 10px;
}

.contato_dados ul li {
    display: inline-block;
    margin-right: 10px;
}

.contato_dados li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.contato_dados ul li a:hover {
    border-color: black;
}

.contato_mapa {
    margin-bottom: 60px;
}
